body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  text-align: center;
  width: 2000px;
}

nav {
  padding-bottom: 20px;
}

main {
  padding-top: 100px;
}
