@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Righteous&display=swap');

/*body-jazz*/
body{
    background: linear-gradient(-45deg, #fdfdfd, #a19fa0, #5d5d5e, #000000);
	background-size: 400% 400%;
    overflow-x: hidden;
}
/*title-jazz*/
section.text {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -1.8rem;
}
h2 {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 4.4rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #3a3a3a, 2px 2px #777676;
    position: relative;
    top: -3.8rem;
}
h2 span {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
    position: relative;
}
/*column*/
.column {
    text-align: center;
    position: relative;
    top: 200px;
    float: left;
    width: 33.33%;
}