@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/*body-jazz*/
body{
    background: linear-gradient(-45deg, #fdfdfd, #a19fa0, #5d5d5e, #000000);
	background-size: 400% 400%;
    overflow-x: hidden;
}
/*title-jazz*/
section.text {
    position: absolute;
    width: 100%;
    min-width: 800px;
    text-align: center;
    margin-top: -30px;
}
h2 {
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #3a3a3a, 2px 2px #777676;
    position: relative;
    top: -60px;
}
h2 span {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: relative;
}
/*column*/
.column {
    text-align: center;
    position: relative;
    top: 200px;
    float: left;
    width: 33.33%;
}