@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/* link do desenvolvimento inicial desse trabalho https://github.com/samsantosb/9bands - realizado inteiramente durante o curso da Trybe*/
/*body*/
*{
    text-decoration: none;
}
body {
    background: #fae3e3; 
    color: #121212;
    margin-left: 9rem;
    margin-right: 9rem; 
    display:flex;
    flex-direction: column;     
}
/*title*/
h1 {
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    font-size: 5rem;
    color: rgb(71, 52, 52);
    text-shadow: 2px 3px #e6e6d8, 3px 3px #c6a39a;
    position: relative;
    bottom: 2rem;
    text-align: center;
    text-justify: center;    
}
h2{
    color: rgb(71, 52, 52);
    font-family: "Bree Serif", serif;
    text-align: justify;
    text-justify: center;
    margin-bottom: 3rem; 
}
.column {
    text-align: center;
    float: left;
    width: 25%;
}
