@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/*body-jrock*/
body{
    background: linear-gradient(-45deg, #ee5fe7, #f5886d);
	background-size: 400% 400%;
    overflow-x: hidden;
}
/*title-jrock*/
section.text {
    position: absolute;
    width: 100%;
    min-width: 800px;
    text-align: center;
    margin-top: -10px;
}
h1 {
    font-family: 'Dela Gothic One';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: rgb(170, 231, 247);
    text-shadow: 3px 3px #050505, 3px 3px #696969;
    letter-spacing: 0.1em;
    position: relative;
}
h2 {
    font-family: 'Dela Gothic One';
    text-transform: uppercase;
    font-size: 55px;
    color: rgb(170, 231, 247);
    text-shadow: 3px 3px #050505, 3px 3px #696969;
    position: relative;
    top: -50px;
}
h2 span {
    display: inline-block;
    vertical-align: middle;
}
/*column*/
.column {
    text-align: center;
    position: relative;
    top: 200px;
    float: left;
    width: 33.33%;
}