/*some references from https://codepen.io/*/
/*https://codepen.io/LIMESTA/pen/KKPbvpL*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.infocardContainer * {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
}
/*container*/
/*before*/
.infocardContainer {
  display: flex;
  height: 200px;
  width: 200px;
  background: rgb(148, 42, 42);
  transition: all 700ms ease-in;
  margin: auto;
}
/*after*/
.infocardContainer:hover {
  width: 500px;
    transition: all 700ms ease-out;
}
.infocardContainer div {
  width: 100%;
}
/*before*/
.infocardContainer div * {
  display: flex;
  overflow: hidden;
  text-overflow: hidden;
  width: 0;
  white-space: nowrap;
  text-align: justify;
  color: rgb(255, 255, 255);
  transition: all 700ms ease-in;
}
/*after*/
.infocardContainer:hover div * {
  display: flex;
  visibility: visible;
  transition: all 700ms ease-out;
  width: 100%;
}
/*image*/
.infocardContainer .main img {
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid  rgb(148, 42, 42);
}


