/*some references from https://codepen.io/*/
/*https://codepen.io/LIMESTA/pen/KKPbvpL*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*container*/
/*before*/
/*use ease-in when things move out*/
/*use ease-out when things move in*/
/* ease-in and ease-out control the start/end speed of animation*/
.infocardContainerjrock {
  font-family: 'Bree Serif', serif;
  font-weight: 16rem;
  display: flex;
  height: 200px;
  width: 200px;
  background: rgb(170, 231, 247);
  transition: all 700ms ease-in;
  margin: auto;
}
/*after*/
.infocardContainerjrock:hover {
  width: 500px;
  transition: all 700ms ease-out;
}
.infocardContainerjrock div {
  width: 100%;
}
/*text*/
/*before*/
.infocardContainerjrock div * {
  display: flex;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  text-align: justify;
  color: rgb(255, 255, 255);
  transition: all 700ms ease-in;
}
/*after*/
/*now the text have the container size*/
/*it is visible and have a transition time*/
.infocardContainerjrock:hover div * {
  visibility: visible;
  transition: all 700ms ease-out;
  width: 100%;
}
/*image*/
/*the image doesnt have a hover, since it is static*/
/*the image needs to have the same size of .infocardcontainer*/
.infocardContainerjrock .main img {
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  border: 10px solid rgb(170, 231, 247);
}
